body ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-item {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
